# Ignore file

# Java Files
myRetail/target/
*.jar
*.war
*.ear
*.class
hs_err_pid*

# Eclipse Files
.settings/
.metadata/
.recommenders/
.classpath
.project

# Gradle Files
.gradle/
build/

# Test Files
coverage-report/

# Temporary files
*~
RemoteSystemsTempFiles/
